:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.page-heading {
  background-image: url(/images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 645px;
  font-weight: 700;
}

.logo {
  width: 46px;
  height: 46px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.header .phone-number {
  margin-bottom: 9px;
}

.navigation {
  margin-right: 10%;
}
.navigation__nav-list {
  display: flex;
  list-style-type: none;
}
.navigation__list-item {
  margin-right: 25px;
}
.navigation__item-link {
  position: relative;
  color: rgb(255, 255, 255);
  padding: 5px 0;
}
.navigation__item-link:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgb(255, 0, 0);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
}
.navigation__item-link:hover:after {
  transition: 0.3s;
  transform: scaleX(0.5);
}

.active:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgb(255, 0, 0);
  bottom: 0;
  left: 0;
  transform: scaleX(0.5);
}

.wrapper {
  margin-top: 100px;
  padding: 0 20%;
}
.wrapper__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.wrapper__title {
  margin: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 79px;
  margin-bottom: 35px;
}
.wrapper__title-links {
  display: flex;
}
.wrapper__title-links .first-link,
.wrapper__title-links .second-link {
  color: rgb(255, 255, 255);
  width: 30%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.wrapper__title-links .first-link:hover,
.wrapper__title-links .second-link:hover {
  gap: 10px;
}
.wrapper__title-links img {
  margin-left: 25px;
  height: 60%;
}

.social {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 27px;
  right: 2%;
  gap: 37px;
  margin-top: 25px;
}
.social img:hover {
  transform: scale(1.2);
}

.services {
  background-color: #fff;
  padding: 90px 20% 110px 20%;
}

.title-wrap {
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-wrap__title {
  font-weight: 700;
  font-size: 48px;
  margin: 0;
}
.title-wrap__desc {
  color: rgb(255, 0, 0);
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: end;
  width: 28%;
}

.service-cards {
  color: black;
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-cards .card {
  width: 30%;
  min-height: 100%;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.service-cards .card__img {
  min-height: 45px;
}
.service-cards .card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  flex-grow: 1;
  min-height: 75px;
}
.service-cards .card__desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-top: auto;
  flex-grow: 1;
}
.service-cards .card__link {
  font-weight: 700;
  font-size: 16px;
}
.service-cards .card__link a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  gap: 15px;
}
.service-cards .card__link a:hover {
  gap: 20px;
}

.about {
  background-color: #fff;
  padding: 0 20% 110px 20%;
}
.about .title-wrap__desc {
  text-align: start;
}

.about-content-wrap .description {
  color: black;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 60px;
}

.about-cards {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.about-cards .card {
  color: black;
  width: 30%;
}
.about-cards .card__staff-img {
  position: relative;
}
.about-cards .card__staff-img .staff-prop {
  padding: 15px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.about-cards .card__staff-img .staff-prop .staff-specialization {
  color: rgb(255, 0, 0);
  font-size: 16px;
  line-height: 19px;
}
.about-cards .card__staff-img .staff-prop .staff-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.about-cards .card__staff-desc {
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
}

.reviews {
  background-color: #fff;
  padding: 0 20% 110px 20%;
}
.reviews .reviews-desc {
  width: 40%;
}

.slider {
  margin-top: 50px;
  height: 464px;
}
.slider__frame {
  display: flex;
  overflow: hidden;
  height: 100%;
}
.slider__slide-wrap {
  min-width: 100%;
  display: none;
}
.slider__slider-content {
  height: 98%;
  display: flex;
}
.slider__comment {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  padding: 0 40px;
  color: black;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
}
.slider__slider-navigation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.block {
  display: block;
}

.slider-nav__nav-marks {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 15px;
}
.slider-nav__mark {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.slider-nav__arrow-right {
  transform: rotate(180deg);
}

.slider-mark-active {
  width: 20px;
  height: 10px;
  background-color: rgb(255, 0, 0);
}

.arrow {
  cursor: pointer;
}

.slider .card {
  width: 32%;
}

.slider .card__client-img {
  position: relative;
}

.slider .client-prop {
  position: absolute;
  bottom: 5px;
  right: 0;
  padding: 5px 15px 5px 50px;
  background-color: white;
  color: black;
  text-align: end;
}
.slider .client-prop .client-name {
  font-weight: 700;
  font-size: 20px;
}
.slider .client-prop .client-specialization {
  font-size: 16px;
  color: rgb(255, 0, 0);
}/*# sourceMappingURL=style.css.map */